# Debian 14 testing edition (forky)
# Build Kara from release tag and publish .deb package
name: Debian14 build
on:
  workflow_call:
    inputs:
      cache-file-path:
        required: true
        type: string
      version:
        required: true
        type: string
env:
  DEBIAN_RELEASE: "14"
jobs:
  build:
    runs-on: ubuntu-latest
    container: debian:forky
    defaults:
      run:
        shell: bash
    steps:
      - name: Update system
        run: apt update -y && apt dist-upgrade -y
      - name: Install build dependencies
        run: |
          apt-get -y -qq install zstd cmake build-essential \
            qt6-declarative-dev extra-cmake-modules \
            qt6-base-dev libkf6i18n-dev libkf6service-dev \
            libkf6windowsystem-dev plasma-workspace-dev libplasmaactivities-dev \
            kwin-dev pkg-config libdrm-dev
      - uses: actions/cache/restore@v4
        with:
          key: ${{ runner.os }}-v${{ inputs.version }}-${{ hashFiles(inputs.cache-file-path) }}
          path: ${{ inputs.cache-file-path }}
          fail-on-cache-miss: true
      - name: Extract release tarball
        run: tar xvf ${{ inputs.cache-file-path }}
      - name: Build kara
        run: |
          cmake_opts=(
            -B build_kf6
            -S kara-${{inputs.version}}
            -DBUILD_DEBS=ON
          )
          echo "${cmake_opts[@]}"
          cmake "${cmake_opts[@]}" && cmake --build build_kf6 -j$(nproc) && echo "Build completed!" || echo "Build failed!" || exit 1
      - name: Build DEB package
        id: create_deb_package
        run: |
          cd build_kf6; cpack -G DEB -V -DCPACK_THREADS=$(nproc)
          artifact=$GITHUB_WORKSPACE/kara-${{ inputs.version }}/packages/kara-${{ inputs.version }}_amd64.deb
          publish_filename="kara-${{ inputs.version }}_debian-${{ env.DEBIAN_RELEASE }}_amd64.deb"
          echo "Moving file to $GITHUB_WORKSPACE/$publish_filename"
          mv $artifact $GITHUB_WORKSPACE/$publish_filename
          echo "ARTIFACT=$publish_filename" >> "$GITHUB_ENV"
          SHA256SUM=$(sha256sum $GITHUB_WORKSPACE/$publish_filename | awk '{ print $1 }')
          echo "ARTIFACT = $publish_filename | SHA256SUM = $SHA256SUM"
          echo "SHA256SUM=$SHA256SUM" >> "$GITHUB_ENV"
      - name: Publish DEB
        if: ${{ env.SHA256SUM != '' }}
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.ARTIFACT }}
          path: ${{ env.ARTIFACT }}
          retention-days: 1
